@media only screen and (max-width: 1199px){
    .home section.intro {
        margin: 0;
        width: 100%;
        padding: 100px 20px 30px 20px;
    }

    .instagram-media, .instagram-media-rendered {
        max-width: 60% !important;
    }

    .contact .hero img {
        width: 70%;
        margin-top: 30px;
    }
}

/* Screens 768px to 991px wide (phones in landscape mode, small tablets) */
@media only screen and (max-width: 991px) {
    .home section.hero {
        width: 100%;
    }
    .instagram-media, .instagram-media-rendered {
        max-width: 80% !important;
    }
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home .hero a {
        width: 80%;
    }

    .contact .social_links ul {
        width: 60%;
    }
}

/* up to 767px wide (phones in portrait mode) */
@media only screen and (max-width: 767px) {
    main.contact {
        flex: 1;
    }

    .contact .hero img {
        width: 90%;
    }

    .contact .social_links {
        width: 100%;
        min-height: 300px;
        flex-grow: 1;
    }

    .contact .social_links ul {
        width: 70%;
    }
}