/* ---------- */
/* Base Setup */
/* ---------- */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    min-height: 100vh;
    /* display: grid; */
    background-color: #f5faff;
    color: #333;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
}

header {
    height: fit-content;
}

.logo {
    font-size: 2.5em;
    user-select: none;
}

h1,h2,h3,h4,h5,h6 {
    color: #444;
    font-weight: bold;
    /* font-weight: normal; */
}

/* ---------- */
/* Links */
/* ---------- */

a {
    transition: all 0.3s;
    text-decoration: none;
}

a:link, a:visited {
    /* color: #333; */
    color: #a37b42;
}

a:hover, a:active {
    /* color: #555; */
    color: #ccab7d;
}

/* ---------- */
/* Navigation */
/* ---------- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 100%; */
    padding: 10px 4%;
}

ul.main_nav {
    /* margin-left: auto; */

    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

ul.main_nav li {
    margin-left: 20px;
}

ul.main_nav li:first-of-type {
    margin-left: 0;
}

ul.social_icons {
    margin-left: auto;
}

ul.main_nav li a:link, ul.main_nav li a:visited {
    border-bottom: 2px solid rgba(0,0,0,0);
}

ul.main_nav li a:hover, ul.main_nav li a:active {
    border-bottom: 2px solid #ccab7d;
}

/* ---------- */
/* Footer */
/* ---------- */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    font-size: 0.8em;
    margin-top: auto;
}

/* ---------- */
/* Contact Page */
/* ---------- */

.contact .hero {
    z-index: 1;
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.contact .hero img {
    width: 100%;
    /* border-radius: 3px; */
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: -70px;
}

.contact .hero a {
    padding: 2px 30px;
    
    width: 20%;
    margin: 0 auto;
    
    margin-bottom: -80px;
    color: black;
    font-size: 2.5em;
    /* border-radius: 3px; */
    
    background-color: #ffffffaa;
    mix-blend-mode: screen;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .hero a:hover, .contact .hero a:active {
    background-color: #ffffffbb;
    transform: scale(1.02);
    transform: translateY(2px);
}

.contact .intro {
    width: 90%;
    margin: 0 auto;
    background-color: #F5F0E9;
    padding: 100px 2% 30px 2%;
    /* z-index: -1; */
    /* transform: translateY(-100px); */
    text-align: center;
}

.instagram-media, .instagram-media-rendered {
    max-width: 40% !important;
    width: 100% !important;
    margin: 0 auto !important;
}

/* -------- */
/* Home */
/* -------- */

main.home {
    display: flex;
    flex-direction: column;
}

.home .hero {
    z-index: 1;
}

.home .hero img {
    width: 50%;
    margin: 0 auto;
    margin-bottom: -80px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.home .social_links {
    background-color: #F3F4F6;
    width: 47%;
    margin: 0 auto;
    padding: 30px 15px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.home .social_links ul {
    display: flex;
    min-width: fit-content;
    width: 60%;
    margin: 10px auto;
    padding: 30px 0px;
    align-items: center;
    justify-content: space-between;
}

.home .social_links ul li {
    list-style-type: none;
}

.home .social_links ul li a svg {
    width: 48px;
}

.home .social_links ion-icon {
    font-size: 48px;
}

.home .social_links .pinterest-link:hover {
    color: #E60023;
}

.home .social_links .ig-link:hover {
    color: #f02f70;
}

.home .social_links .spotify-link:hover {
    color: #1ED560;
}

/* -------- */
/* About */
/* -------- */

main.about .bio {
    /* position: relative; */
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    /* grid-template-rows: repeat(5, 1fr); */
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 50px;
}

/* 
"a a x d d"
"a a o d d"
"a a o d d"
"y y o d d"
*/

main.about .bio img {
    max-width: 100%;
    /* grid-area: a-start / a-start / b-start / o-end; */
    grid-area: 1 / 1 / 2 / 3;
    z-index: 1;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

main.about .bio h1 {
    text-align: center;
    grid-area: x;
    padding: 20px 8% 20px 36%;
    font-size: 2.5em;
}

main.about .bio > div {
    /* grid-area: d-start / o-start / d-end / d-end; */
    grid-area: 1 / 2 / 2 / 6;
    text-align: center;
}

main.about .bio > div > div {
    background-color: #F5F0E9;
    padding: 20px 4% 20px calc(33.33% + 4%);
}

main.about .bio > div > div > p {
    font-size: 1.2em;
}

/* -------- */
/* Books */
/* -------- */

main.books .book {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    padding: 50px;
}

main.books .book img {
    max-width: 100%;
    /* grid-area: a-start / a-start / b-start / o-end; */
    /* grid-area: row-start / col-start / row-end / col-end; */
    grid-area: 1 / 1 / 12 / 7;
    z-index: 1;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

main.books .book > div {
    /* grid-area: d-start / o-start / d-end / d-end; */
    grid-area: 2 / 5 / 13 / 13;
    text-align: center;
    background-color: #F3F4F6;
    padding: 20px 4% 20px calc(25% + 4%);
}

main.books p {
    font-size: 1.2em;
}

main.books p.tiny-text {
    font-size: 0.9em;
    font-weight: light;
}