/* ---------- */
/* Base Setup */
/* ---------- */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    /* min-height: 100vh; */
    /* display: grid; */
    background-color: #f5faff;
    color: #333;
}

img {
    display: block;
}

header {
    height: fit-content;
}

.logo {
    font-size: 2.5em;
    user-select: none;
}

h1,h2,h3,h4,h5,h6 {
    color: #444;
    font-weight: bold;
}

/* ---------- */
/* Links */
/* ---------- */

a {
    transition: all 0.3s;
    text-decoration: none;
}

a:link, a:visited {
    /* color: #333; */
    color: #a37b42;
}

a:hover, a:active {
    /* color: #555; */
    color: #ccab7d;
}

/* ---------- */
/* Navigation */
/* ---------- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 100%; */
    padding: 10px 4%;
}

ul.main_nav {
    /* margin-left: auto; */

    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

ul.main_nav li {
    margin-left: 20px;
}

ul.main_nav li:first-of-type {
    margin-left: 0;
}

ul.social_icons {
    margin-left: auto;
}

ul.main_nav li a:link, ul.main_nav li a:visited {
    border-bottom: 2px solid rgba(0,0,0,0);
}

ul.main_nav li a:hover, ul.main_nav li a:active {
    border-bottom: 2px solid #ccab7d;
}

/* ---------- */
/* Footer */
/* ---------- */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

/* ---------- */
/* Home Page */
/* ---------- */

.home .hero {
    z-index: 1;
    width: 60%;
    margin: 0 auto;
    position: relative
}

.home .hero img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: -70px;
}

.home .hero a {
    padding: 2px 30px;
    
    width: 20%;
    margin: 0 auto;

    margin-bottom: -80px;
    color: black;
    font-size: 2.5em;
    border-radius: 3px;

    background-color: #ffffffaa;
    mix-blend-mode: screen;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .hero a:hover, .home .hero a:active {
    background-color: #ffffffbb;
    transform: scale(1.02);
    transform: translateY(2px);
}

.home .intro {
    width: 90%;
    margin: 0 auto;
    background-color: #F5F0E9;
    padding: 100px 2% 30px 2%;
    /* z-index: -1; */
    /* transform: translateY(-100px); */
    text-align: center;
}

.instagram-media, .instagram-media-rendered {
    max-width: 40% !important;
    width: 100% !important;
    margin: 0 auto !important;
}